<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="desenvolvimento" 
         connectionString="Data Source=EDUARDO\SQLEXPRESS;Initial Catalog=CCB_Musica;Integrated Security=True" 
         providerName="System.Data.SqlClient"/>

    <add name="sismusica" 
         connectionString="Data Source=SERVMUNDO\CCBSQLEXPRESS;Initial Catalog=CCB_Musica;User Id=SA; Password=@mf170408" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>